:root {
    /* THEME 1 */

    /* Backgrounds */
    --Very-Dark-Desaturated-Blue: hsl(222, 26%, 31%); /*main-background*/
    --Very-Dark-Desaturated-Blue-key: hsl(
        223,
        31%,
        20%
    ); /*toggle and keypad-background */
    --Very-Dark-Desaturated-Blue-screen: hsl(
        224,
        36%,
        15%
    ); /* screem-background*/

    /* Keys */
    --Desaturated-dark-blue: hsl(225, 21%, 49%); /*key-background*/
    --Desaturated-dark-blue-shadow: hsl(224, 28%, 35%); /*-key-shadow*/

    --Red: hsl(6, 63%, 50%); /*(key background, toggle) */
    --Dark-red: hsl(6, 70%, 34%); /* (key shadow) */

    --Light-grayish-orange: hsl(30, 25%, 89%); /* (key background)*/
    --Grayish-orange: hsl(28, 16%, 65%); /*(key shadow)*/

    /* Text */
    --Very-dark-grayish-blue: hsl(221, 14%, 31%);
    --White: hsl(0, 0, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

body {
    background-color: #212121;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 12px;
    /* padding: 0 5px; */
}

ul > li {
    margin: 8px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid {
    display: grid;
}

.container {
    width: 375px;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
}

.calculator {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    height: 667px;
    background-color: var(--Very-Dark-Desaturated-Blue);
    padding: 20px 25px 30px 25px;
    /* padding: 25px;
    padding-bottom: 30px; */
}
.header {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 38px;

    margin-bottom: 30px;
}

.calc {
    padding-top: 5px;
    transform: translateY(-2px);
}

.theme-selector {
    display: grid;
    width: 155px;
    grid-template-columns: 85px 70px;
}

.title {
    position: relative;
    font-size: 12px;
    width: 100%;
    height: 100%;
}
.title p {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    padding-right: 10px;
}

.choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selector {
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(223, 31%, 20%);
    border-radius: 1em;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.slider {
    text-align: center;
    vertical-align: middle;
    height: 25px;
    border: 0px;
    margin: 0px;
    padding: 0;
    width: 60px;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    outline: none;
}

.selector:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    outline: none;
    border: none;
    background: var(--Red);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: hsl(6, 63%, 50%);
    cursor: pointer;
}

.result {
    width: 100%;

    background-color: var(--Very-Dark-Desaturated-Blue-screen);
    padding: 23px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.result > p {
    color: white;
    text-align: right;
    vertical-align: middle;
    font-size: 32px;
}

.keypad {
    width: 100%;
    display: grid;
    place-content: center;
    padding: 25px;
    padding-bottom: 30px;
    border-radius: 10px;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 17px 13px;
    background-color: var(--Very-Dark-Desaturated-Blue-key);
}

.keys {
    border-radius: 5px;
    background-color: var(--Light-grayish-orange);
    outline: none;
    border: none;
    text-decoration: none;
    box-shadow: 0 5px var(--Grayish-orange);
    font-size: 28px;
    display: grid;
    place-items: center;
}

.keys > p {
    color: var(--Very-dark-grayish-blue);
    transform: translateY(5px);
}

.special p {
    transform: translateY(0px);
}

.blue {
    background-color: var(--Desaturated-dark-blue);
    box-shadow: 0 5px var(--Desaturated-dark-blue-shadow);
}

.red {
    background-color: var(--Red);
    box-shadow: 0 5px var(--Dark-red);
}

.reset {
    grid-column: 1/3;
}

.equal {
    grid-column: 3/5;
}

.special {
    font-size: 16px;
}

.special p {
    color: white;
}

.attribution {
    position: absolute;
    font-size: 11px;
    text-align: center;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
